.btnClass {
  background-color: orangered;
  color: #ffffff;
  width: 180px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
  border: 2px solid black;
}

.btnClass:hover {
  opacity: 0.3;
}
